//- data / logic 
include includes/logic.jade 
doctype
html.no-js


	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')

		include includes/heads/head-home.jade

		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='style.css')

		link(rel="apple-touch-icon" href="../img/apple-touch-icon.png")
		link(rel="shortcut icon" type="image/png" href="/favicon.png")

		

	body.home
		<!--[if lt IE 8]>
		| p.browsehappy
		| You are using an <strong>outdated</strong> browser.
		| Please <a href="http://browsehappy.com/">upgrade your browser</a>
		| to improve your experience.
		<![endif]-->


	
//- start content
.container.bg-red

	//- g navagation
	.menu-wrap.row.bg-red
		.menu-side
			+navHeader




	.content-wrap
		.content.sudo

			//- header
			header.g-header.bg-red
				.center
					h1.g-logo.sprite
						p
							a.txt-hide(href="#") Gadget Grave

					button.menu-button#open-button.bg-red
						span

				.g-header-wrap-right
					a#searchTrig.icon.icon-cart(href="#") Search
					a#phoneTrig.dis-b.g-phone.icon.icon-phone(href="#", tel="#")
						span (000) 000-0000
			//- header !


			//- hero
			.hero.hero-repair.row.bg-red.inner-card
				.row.center
					.page-title-header
						h1 Computer Repair
				.wrap-center.card
					.wrap-txt.slab-layout-left
						h2 Computer Specialists
						p Everyone has a computer these days! So why not repair it instead of spending $600-$1500 for a new one? Our turn around at Gadget Grave is anywhere between 1-3 business days, and we have the best price for computer repair around in Fort Smith Arkansas! We fix anything from desktop to laptop, screen repairs or keyboard. Live somewhere else besides Fort Smith Arkansas? Don’t worry we have you covered with our Mail-In-Repair! Mail us your gadget and will take care of you! We are located at 4900 Rogers Ave. Suite 103i Fort Smith Arkansas 72903.

					.slab-layout-right
						.slab-img.sudo
			//- hero !


			.row.bg-grey
				.center
					.wrap-img.fl-center
					.wrap-txt.fl-center.txt-center.max-600
						h2 Common Repairs
						.row.txt-center
							.six.columns
								ul
									li Virus Removal
									li Software Update
									li Tune Ups
									li Ram Upgrades
									li Hard Drive Upgrades
									li LCD Replacements

							.six.columns
								ul
									li Keyboard Replacements
									li Diagnostic Evaluation
									li Battery Replacement
									li Hard Drive Recovery
									li Charge Port Replacement
									li And many more!





			.row.bg-purp.slab.index-slab-gg-box
				.center
					.slab-layout-right
						h2 Header Content
						p Need content here - 250 words please 
					
					.slab-layout-left.sudo.gg-cell-box

			



			.row.bg-grey
				.center
					.wrap-img.fl-center
					.wrap-txt.fl-center.txt-center.max-600
						h2 Header Content
						p Need content here - 250 words please 



						h2.number-header (479) 431-6091



			//- three tout gird
			.row.row-kill-pad.bg-grey.inner-card

				//- the right and the left pretain to the txt pos
				.wrap-center.third-grid
					.two-thirds.column
						.card 
							.txt-wrap
								h2 Is your Cell Phone Broken?
								p We have all of the most common repair parts in stock and it usually only take a couple of hours to finish the repair. This makes it easier to avoid a lot of those “2-4 business days” situations just to fix the broken glass on your mobile phone.
						.card 
							.txt-wrap
								h2 The importance of having your cell phone.
								p To most of us, the cell phone is just as important as your wallet or car keys. During the repair, our automated Customer Relations Management Software has the ability to email, text, and call you throughout the repair to keep you updated.


					//- savings tout
					.one-third.column
						.card.bg-green
							.txt-wrap.warranty-box.txt-center
								span.w-first 90
								p.w-second day warranty
								p All phone repairs come with our hassle-free 90 day warranty. Because our warranty covers part defects, if the part should stop functioning properly, we will repair it again at no additional cost for you.
								span.icon.icon-warranty
								p.w-footer excludes user abuse and user damage



			//- three tout gird !

			//- location
			include includes/location.jade

			//- footer
			include includes/footer.jade



script(src='js/classie.js')
script(src='js/main.js')