//- data / logic 
include includes/logic.jade 
doctype
html.no-js


	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')

		include includes/heads/head-home.jade

		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='style.css')

		link(rel="apple-touch-icon" href="../img/apple-touch-icon.png")
		link(rel="shortcut icon" type="image/png" href="/favicon.png")

		

	body.home
		<!--[if lt IE 8]>
		| p.browsehappy
		| You are using an <strong>outdated</strong> browser.
		| Please <a href="http://browsehappy.com/">upgrade your browser</a>
		| to improve your experience.
		<![endif]-->


	
//- start content
.container.bg-blue

	//- g navagation
	.menu-wrap.row
		.menu-side
			+navHeader




	.content-wrap
		.content.bg-blue.sudo

			//- header
			header.g-header
				.center
					h1.g-logo.sprite
						p
							a.txt-hide(href="#") Gadget Grave

					button.menu-button#open-button
						span





				.g-header-wrap-right
					a#searchTrig.icon.icon-cart(href="#") Search
					a#phoneTrig.dis-b.g-phone.icon.icon-phone(href="#", tel="#")
						span (000) 000-0000
			//- header !


			//- hero
			.hero.row.bg-blue.hero-home
				.center.slab
					.slab-layout-left
						h1 Professional Gadget Repair
						p Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus.

						.btn-wrap
							a.btn.btn-outline(href="repair.html") Learn More About Repairs
					.slab-layout-right
						.slab-img.sudo
							
			//- hero !

			.row.bg-body.pop-over-wrap
				.center.card-full-wrap
					.card.sudo
						.wrap-img
						.wrap-txt.max-600
							h2 This is a header
							p Donec ullamcorper nulla non metus auctor fringilla. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui.
							a.btn.btn-outline(href="#") Button here

							ul
								div
									li 
										a(href="#") LCD Repair
									li 
										a(href="#") Touch Screens
									li 
										a(href="#") Battery Replacement
									li 
										a(href="#") Button Issues
								div
									li 
										a(href="#") Camera Issues
									li 
										a(href="#") Virus Removal
									li 
										a(href="#") Upgrades / Optimization
									li 
										a(href="#") Upgrades / Optimization


			.row.bg-green.slab.index-slab-gg-box
				.center
					.slab-layout-right
						h2 Replace Your Gadgets
						p Are you looking to replace your old phone? We have many great replacement phones in stock and they are backed by a 90 day warranty. There is an extensive testing process that goes into each phone we sell. We sell both online and in the store. We carry many different devices from flip phones to smartphones.
						a.btn.bg-blue(href="repair.html") Learn More About Repairs
					
					.slab-layout-left.sudo.gg-cell-box
						



			//- featured products
			include includes/products-featured.jade

			//- location
			include includes/location.jade

			//- footer
			include includes/footer.jade



script(src='js/classie.js')
script(src='js/main.js')














