doctype
html.no-js


	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='style.css')

		//-script(src='javascripts/vendor/modernizr-2.7.1.min.js')
	body
		<!--[if lt IE 8]>
		| p.browsehappy
		| You are using an <strong>outdated</strong> browser.
		| Please <a href="http://browsehappy.com/">upgrade your browser</a>
		| to improve your experience.
		<![endif]-->



		.row.bg-red.row-kill-pad
			.center
				header.g-header
					.center.twelve.columns.test
						h1.g-logo.sprite
							p
								a.txt-hide(href="#") Gadget Grave

						a.nav-trig#mobileNavTrig(href="#") 
							span.txt-hide Mobile Nav


						nav.g-nav.non-mobile
							ul
								li
									a(href="#") Link One
								li
									a(href="#") Link One
								li
									a(href="#") Link One
								li
									a(href="#") Link One
								li
									a(href="#") Link One

				.g-header-wrap-right
					a#searchTrig.icon.icon-mag(href="#") Search
					a#cartTrig.icon.icon-shop.non-mobile(href="#") My Shopping Cart
					a#phoneTrig.dis-b.g-phone.icon.icon-phones(href="#", tel="#")
						span (000) 000-0000


		.hero.row.bg-red
			.wrap-center.card
				.wrap-img
				.wrap-txt.max-600
					h2 This is a header
					p Donec ullamcorper nulla non metus auctor fringilla. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui.
					a.btn.btn-outline(href="#") Button here








		.row
			.center
				.wrap-img.fl-center
				.wrap-txt.fl-center.txt-center.max-600
					h2 Gadgets we Carry
					p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas sed diam eget risus varius blandit sit amet nonn. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas sed diam eget risus varius blandit sit amet nonn. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras justo odio, dapibus ac facilisis in, egestas eget quam aecenas sed diam eget.

					a.btn(href="#") Shop All Gadgets


					





		.row.bg-purp

			//- the right and the left pretain to the txt pos
			.wrap-center.slab.small-txt-center
				.wrap-txt.max-600
					h2 Egestas Tristique Venenatis
					p Maecenas sed diam eget risus varius blandit sit amet non magna. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras mattis consectetur purus sit amet fermentum. Nullam id dolor id nibh ultricies vehicula ut id elit.
					a.btn.btn-outline(href="#") nothing but btn
				.wrap-img



		.row
			.center
				.wrap-img.fl-center
				.wrap-txt.fl-center.txt-center.max-600
					h2 Gadgets we Carry
					p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas sed diam eget risus varius blandit sit amet nonn. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas sed diam eget risus varius blandit sit amet nonn. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras justo odio, dapibus ac facilisis in, egestas eget quam aecenas sed diam eget.

					a.btn(href="#") Shop All Gadgets



		//- three tout gird
		.row.row-kill-pad

			//- the right and the left pretain to the txt pos
			.wrap-center.third-grid.small-pad-20
				.two-thirds.column
					.card 
						.txt-wrap
							h2 Is your Cell Phone Broken?
							p We have all of the most common repair parts in stock and it usually only take a couple of hours to finish the repair. This makes it easier to avoid a lot of those “2-4 business days” situations just to fix the broken glass on your mobile phone.
					.card 
						.txt-wrap
							h2 Is your Cell Phone Broken?
							p We have all of the most common repair parts in stock and it usually only take a couple of hours to finish the repair. This makes it easier to avoid a lot of those “2-4 business days” situations just to fix the broken glass on your mobile phone.


				//- savings tout
				.one-third.column
					.card.bg-green
						.txt-wrap
							h2 Is your Cell Phone Broken?
							p We have all of the most common repair parts in stock and it usually only take a couple of hours to finish the repair. This makes it easier to avoid a lot of those “2-4 business days” situations just to fix the broken glass on your mobile phone.

		//- three tout gird !





		.row.bg-blue.small-pad-20
			.center.slab.small-txt-center
				.one-half.column
					h2 Is your Cell Phone Broken?
					p We have all of the most common repair parts in stock and it usually only take a couple of hours to finish the repair. This makes it easier to avoid a lot of those “2-4 business days” situations just to fix the broken glass on your mobile phone.
				.one-half.column
					.half
						ul
							li.li-title 
								a(href="#") Fayetteville
							li 240 E. Joyce Blvd. Suite 1 
							li Fayetteville, Ar. 72703 
							li
								a(href="#", tel="#1 (479) 431-6091")
					.half
						ul
							li.li-title 
								a(href="#") Fayetteville
							li 240 E. Joyce Blvd. Suite 1 
							li Fayetteville, Ar. 72703 
							li
								a(href="#", tel="#1 (479) 431-6091")






		footer.g-footer
			.row.center
				.center
					.one.columns
						h1.g-logo.sprite
							p
								a.txt-hide(href="#") Gadget Grave
					.eleven.columns.sudo.after-line
						ul.fl-left
							li
								a(href="#") Repair
							li
								a(href="#") Replace
							li
								a(href="#") Shop
							li
								a(href="#") About
							li
								a(href="#") Blog
							li
								a(href="#") Contact
							li
								a(href="#") Locations
			.row.center
				.center
					.three.columns
						h1.footerHeader Site Links
						ul
							li
								a(href="#") Repair
							li
								a(href="#") Replace
							li
								a(href="#") Shop
							li
								a(href="#") About
							li
								a(href="#") Blog
							li
								a(href="#") Contact
							li
								a(href="#") Locations


					.three.columns
						h1.footerHeader Quick Links
						ul
							li
								a(href="#") Link One
							li
								a(href="#") Link One
							li
								a(href="#") Link One
							li
								a(href="#") Link One
							li
								a(href="#") Link One

					.three.columns
						h1.footerHeader Repairs
						ul
							li
								a(href="#") Link One
							li
								a(href="#") Link One
							li
								a(href="#") Link One
							li
								a(href="#") Link One
							li
								a(href="#") Link One

					.three.columns
						h1.footerHeader Company
						ul
							li
								a(href="#") Link One
							li
								a(href="#") Link One
							li
								a(href="#") Link One
							li
								a(href="#") Link One
							li
								a(href="#") Link One

			.row.center
				.twelve.columns.copyright
					p Copyright © 2015 Gadget Grave All Rights Reserved



		.grid
			.grid__item.small--one-half.medium--one-half.large--one-third

				
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
	script(src='js/main.js')


