//- data / logic 
include includes/logic.jade 
doctype
html.no-js


	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')

		include includes/heads/head-home.jade

		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='style.css')

		link(rel="apple-touch-icon" href="../img/apple-touch-icon.png")
		link(rel="shortcut icon" type="image/png" href="/favicon.png")

		

	body.home
		<!--[if lt IE 8]>
		| p.browsehappy
		| You are using an <strong>outdated</strong> browser.
		| Please <a href="http://browsehappy.com/">upgrade your browser</a>
		| to improve your experience.
		<![endif]-->


	
//- start content
.container

	//- g navagation
	.menu-wrap.row.bg-red
		.menu-side
			+navHeader




	.content-wrap
		.content.sudo

			//- header
			header.g-header.bg-red
				.center
					h1.g-logo.sprite
						p
							a.txt-hide(href="#") Gadget Grave

					button.menu-button#open-button.bg-red
						span

				.g-header-wrap-right
					a#searchTrig.icon.icon-cart(href="#") Search
					a#phoneTrig.dis-b.g-phone.icon.icon-phone(href="#", tel="#")
						span (000) 000-0000
			//- header !


			//- hero
			.hero.hero-repair.row.bg-red.inner-card
				.row.center
					.page-title-header
						h1 Smartphone Repairs
				.wrap-center.card
					.wrap-txt.slab-layout-left
						h2 Is your Cell Phone Broken and Needing Repairs?
						p The Fort Smith, Arkansas area now has a store that can accommodate all of your smart phone repair needs! We have full time cell phone technicians on staff and repair more than 30 devices a day, with busy days up to 60. Our certified technicians handle smartphone repairs daily and repair Apple iPhones, Samsung Galaxy Phones, HTC Phones, and we are able to get parts for almost all major brands. We have 1000’s of cell phone parts in stock and can repair 90% of issues the same day. We can Replace Screens on almost any device that parts are available.

					.slab-layout-right
						.slab-img.sudo
			//- hero !


			.row.bg-grey
				.center
					.wrap-img.fl-center
					.wrap-txt.fl-center.txt-center.max-600
						h2 Charge Port Replacements
						p Are you unsure if it is cheaper to get a phone repaired than it is get a replacement? While some of the newer devices’ replacement glass is very expensive, most of the other repairs that are available generally cost under $80. Some of the most common repairs we see are Charge Port Replacements.


			.row.bg-purp

				//- the right and the left pretain to the txt pos
				.wrap-center.slab.small-txt-center
					.wrap-txt.max-600
						h2 Egestas Tristique Venenatis
						p Maecenas sed diam eget risus varius blandit sit amet non magna. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras mattis consectetur purus sit amet fermentum. Nullam id dolor id nibh ultricies vehicula ut id elit.
						a.btn.btn-outline(href="#") nothing but btn
					.wrap-img



			.row.bg-grey
				.center
					.wrap-img.fl-center
					.wrap-txt.fl-center.txt-center.max-600
						h2 Gadgets we Carry
						p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas sed diam eget risus varius blandit sit amet nonn. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas sed diam eget risus varius blandit sit amet nonn. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras justo odio, dapibus ac facilisis in, egestas eget quam aecenas sed diam eget.

						a.btn(href="#") Shop All Gadgets



			//- three tout gird
			.row.row-kill-pad.bg-grey.inner-card

				//- the right and the left pretain to the txt pos
				.wrap-center.third-grid
					.two-thirds.column
						.card 
							.txt-wrap
								h2 Is your Cell Phone Broken?
								p We have all of the most common repair parts in stock and it usually only take a couple of hours to finish the repair. This makes it easier to avoid a lot of those “2-4 business days” situations just to fix the broken glass on your mobile phone.
						.card 
							.txt-wrap
								h2 Is your Cell Phone Broken?
								p We have all of the most common repair parts in stock and it usually only take a couple of hours to finish the repair. This makes it easier to avoid a lot of those “2-4 business days” situations just to fix the broken glass on your mobile phone.


					//- savings tout
					.one-third.column
						.card.bg-green
							.txt-wrap
								h2 Is your Cell Phone Broken?
								p We have all of the most common repair parts in stock and it usually only take a couple of hours to finish the repair. This makes it easier to avoid a lot of those “2-4 business days” situations just to fix the broken glass on your mobile phone.

			//- three tout gird !

			//- location
			include includes/location.jade

			//- footer
			include includes/footer.jade



script(src='js/classie.js')
script(src='js/main.js')