//- data / logic 
include includes/logic.jade 
doctype
html.no-js


	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')

		include includes/heads/head-home.jade

		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='style.css')

		link(rel="apple-touch-icon" href="../img/apple-touch-icon.png")
		link(rel="shortcut icon" type="image/png" href="/favicon.png")

		

	body.home
		<!--[if lt IE 8]>
		| p.browsehappy
		| You are using an <strong>outdated</strong> browser.
		| Please <a href="http://browsehappy.com/">upgrade your browser</a>
		| to improve your experience.
		<![endif]-->


	
//- start content
.container.bg-red

	//- g navagation
	.menu-wrap.row.bg-red
		.menu-side
			+navHeader




	.content-wrap
		.content.sudo

			//- header
			header.g-header.bg-red
				.center
					h1.g-logo.sprite
						p
							a.txt-hide(href="#") Gadget Grave

					button.menu-button#open-button.bg-red
						span

				.g-header-wrap-right
					a#searchTrig.icon.icon-cart(href="#") Search
					a#phoneTrig.dis-b.g-phone.icon.icon-phone(href="#", tel="#")
						span (000) 000-0000
			//- header !


			//- hero


			//- featured products
			include includes/products-featured.jade

			//- featured products
			include includes/products-featured.jade

			//- featured products
			include includes/products-featured.jade

			//- featured products
			include includes/products-featured.jade

			//- location
			include includes/location.jade

			//- footer
			include includes/footer.jade

script(src='js/classie.js')
script(src='js/main.js')

















