//- data / logic 
include includes/logic.jade 
doctype
html.no-js


	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')

		include includes/heads/head-home.jade

		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='style.css')

		link(rel="apple-touch-icon" href="../img/apple-touch-icon.png")
		link(rel="shortcut icon" type="image/png" href="/favicon.png")

		

	body.home
		<!--[if lt IE 8]>
		| p.browsehappy
		| You are using an <strong>outdated</strong> browser.
		| Please <a href="http://browsehappy.com/">upgrade your browser</a>
		| to improve your experience.
		<![endif]-->


	
//- start content
.container.bg-red

	//- g navagation
	.menu-wrap.row.bg-red
		.menu-side
			+navHeader




	.content-wrap
		.content.sudo

			//- header
			header.g-header.bg-red
				.center
					h1.g-logo.sprite
						p
							a.txt-hide(href="#") Gadget Grave

					button.menu-button#open-button.bg-red
						span

				.g-header-wrap-right
					a#searchTrig.icon.icon-cart(href="#") Search
					a#phoneTrig.dis-b.g-phone.icon.icon-phone(href="#", tel="#")
						span (000) 000-0000
			//- header !


			//- hero
			.hero.hero-repair.row.bg-red.inner-card
				.row.center
					.page-title-header
						h1 Smartphone Repairs
				.wrap-center.card
					.wrap-txt.slab-layout-left
						h2 Is your Cell Phone Broken and Needing Repairs?
						p The Fort Smith, Arkansas area now has a store that can accommodate all of your smart phone repair needs! We have full time cell phone technicians on staff and repair more than 30 devices a day, with busy days up to 60. Our certified technicians handle smartphone repairs daily and repair Apple iPhones, Samsung Galaxy Phones, HTC Phones, and we are able to get parts for almost all major brands. We have 1000’s of cell phone parts in stock and can repair 90% of issues the same day. We can Replace Screens on almost any device that parts are available.

					.slab-layout-right
						.slab-img.sudo
			//- hero !


			.row.bg-grey
				.center
					.wrap-img.fl-center
					.wrap-txt.fl-center.txt-center.max-600
						h2 Charge Port Replacements
						p Are you unsure if it is cheaper to get a phone repaired than it is get a replacement? While some of the newer devices’ replacement glass is very expensive, most of the other repairs that are available generally cost under $80. Some of the most common repairs we see are Charge Port Replacements.





			.row.bg-purp.slab.index-slab-gg-box
				.center
					.slab-layout-right
						h2  Trained Associates
						p Our sales associates are trained to identify issues with your device when you bring it in for repair. Diagnosing issues with your electronics can sometimes run deeper than just a broken screen repair or a dead battery replacement. Our staff works hard to try and find a solution to all of your tech problems! We try our best to offer a price quote prior to the repair and if we find that anything changes, we will contact you before moving forward. This means you are in control of what you spend.
					
					.slab-layout-left.sudo.gg-cell-box

			



			.row.bg-grey
				.center
					.wrap-img.fl-center
					.wrap-txt.fl-center.txt-center.max-600
						h2 Over the Phone Queotes
						p We have a price list on hand to be able to give repair quotes over the phone. Our technicians are always on hand if you need to call and get an idea of the cost to fix your broken phone. If we do not have the part in stock, we have several suppliers ready to send parts overnight. The parts generally arrive before noon. This means that the device will be repaired within 24 hours of it being dropped off. We strive to have the quickest turnaround times of any repair facility in our region.

						h2.number-header (479) 431-6091



			//- three tout gird
			.row.row-kill-pad.bg-grey.inner-card

				//- the right and the left pretain to the txt pos
				.wrap-center.third-grid
					.two-thirds.column
						.card 
							.txt-wrap
								h2 Is your Cell Phone Broken?
								p We have all of the most common repair parts in stock and it usually only take a couple of hours to finish the repair. This makes it easier to avoid a lot of those “2-4 business days” situations just to fix the broken glass on your mobile phone.
						.card 
							.txt-wrap
								h2 The importance of having your cell phone.
								p To most of us, the cell phone is just as important as your wallet or car keys. During the repair, our automated Customer Relations Management Software has the ability to email, text, and call you throughout the repair to keep you updated.


					//- savings tout
					.one-third.column
						.card.bg-green
							.txt-wrap.warranty-box.txt-center
								span.w-first 90
								p.w-second day warranty
								p All phone repairs come with our hassle-free 90 day warranty. Because our warranty covers part defects, if the part should stop functioning properly, we will repair it again at no additional cost for you.
								span.icon.icon-warranty
								p.w-footer excludes user abuse and user damage



			//- three tout gird !

			//- location
			include includes/location.jade

			//- footer
			include includes/footer.jade



script(src='js/classie.js')
script(src='js/main.js')