//- data / logic 
include includes/logic.jade 
doctype
html.no-js


	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')

		include includes/heads/head-home.jade

		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='style.css')

		link(rel="apple-touch-icon" href="../img/apple-touch-icon.png")
		link(rel="shortcut icon" type="image/png" href="/favicon.png")

		

	body.home
		<!--[if lt IE 8]>
		| p.browsehappy
		| You are using an <strong>outdated</strong> browser.
		| Please <a href="http://browsehappy.com/">upgrade your browser</a>
		| to improve your experience.
		<![endif]-->


	
//- start content
.container.bg-red

	//- g navagation
	.menu-wrap.row.bg-red
		.menu-side
			+navHeader




	.content-wrap
		.content.sudo

			//- header
			header.g-header.bg-red
				.center
					h1.g-logo.sprite
						p
							a.txt-hide(href="#") Gadget Grave

					button.menu-button#open-button.bg-red
						span

				.g-header-wrap-right
					a#searchTrig.icon.icon-cart(href="#") Search
					a#phoneTrig.dis-b.g-phone.icon.icon-phone(href="#", tel="#")
						span (000) 000-0000
			//- header !


			//- hero
			.hero.hero-repair.row.bg-red.inner-card
				.row.center
					.page-title-header
						h1 Xbox Repair
				.wrap-center.card
					.wrap-txt.slab-layout-left
						h2 Gadget Grave is your source for Fort Smith, Arkansas Xbox repair.
						p Let Gadget Grave save you money! Most Xbox repairs cost much less than $100 and can be fixed the same day. We stock parts for the Xbox360, PS3, iphone, blackberry, android phones, lg xenon, samsung phones, motorola smart phones, and much more!

					.slab-layout-right
						.slab-img.sudo
			//- hero !


			.row.bg-grey
				.center
					.wrap-img.fl-center
					.wrap-txt.fl-center.txt-center.max-600
						h2 Read Ring Of Death
						p Three flashing red lights around the Xbox 360 power button (nicknamed the “Red Ring of Death” or “Red Lights of Death” or “Red Ring of Doom”), instead of the one to four green lights indicating normal operation, represent an internal problem that requires service. Warning signs may include freeze-ups, graphical problems in the middle of gameplay, such as checkerboard or pinstripe patterns on the screen, and sound errors, and the console only responds to pressing the power button to turn it off. These events may happen once or several times until the hardware failure occurs, or not at all. If the console freezes occasionally, the error will not necessarily follow. The technical problems seem to affect some generations of consoles more than others. e.g. Xbox 360 60GB. On the new Xbox 360 slim, Microsoft has removed the capability to light the rings around the power button red, instead the Open button flashes red to warn you that the system will automatically close to not damage the console. It’s nicknamed the “Red Dot of Doom” or the “Red Dot of Death.”





			.row.bg-purp.slab.index-slab-gg-box
				.center
					.slab-layout-right
						h2 Error 74
						p This error code is usually caused by failure of one or more hardware components, although it can indicate that the console is not receiving enough power from the power supply, which can either be due to a faulty power supply or if the power supply cable is not fully inserted into the console. The 3 flashing lights can also be caused by power surges; if the console is connected to an outlet that receives a power surge, it may have a failure and the 3 lights will appear as long as the console is plugged into the outlet. Turning off the console, unplugging all power cables and plugging them back in, and restarting the console will fix the issue in this case.
					
					.slab-layout-left.sudo.gg-cell-box

			



			.row.bg-grey
				.center
					.wrap-img.fl-center
					.wrap-txt.fl-center.txt-center.max-600
						h2 Hardware Failure
						p Distinct from the General Hardware Failure is a similar-looking error warning where four red lights appear, in which case the console does not detect an AV cable is plugged in. The four lights can sometimes also be seen when power surges or very brief power outages occur while the console is running, in which the console needs to be unplugged and plugged back in again to reset the error. Two red lights appear when the system is overheated.




			//- three tout gird
			.row.row-kill-pad.bg-grey.inner-card

				//- the right and the left pretain to the txt pos
				.wrap-center.third-grid
					.two-thirds.column
						.card 
							.txt-wrap
								h2 Is your Cell Phone Broken?
								p We have all of the most common repair parts in stock and it usually only take a couple of hours to finish the repair. This makes it easier to avoid a lot of those “2-4 business days” situations just to fix the broken glass on your mobile phone.
						.card 
							.txt-wrap
								h2 The importance of having your cell phone.
								p To most of us, the cell phone is just as important as your wallet or car keys. During the repair, our automated Customer Relations Management Software has the ability to email, text, and call you throughout the repair to keep you updated.


					//- savings tout
					.one-third.column
						.card.bg-green
							.txt-wrap.warranty-box.txt-center
								span.w-first 90
								p.w-second day warranty
								p All phone repairs come with our hassle-free 90 day warranty. Because our warranty covers part defects, if the part should stop functioning properly, we will repair it again at no additional cost for you.
								span.icon.icon-warranty
								p.w-footer excludes user abuse and user damage



			//- three tout gird !

			//- location
			include includes/location.jade

			//- footer
			include includes/footer.jade



script(src='js/classie.js')
script(src='js/main.js')