footer.g-footer
	.row.center
		.center
			.one.columns
				h1.g-logo.sprite
					p
						a.txt-hide(href="#") Gadget Grave
			.eleven.columns.sudo.after-line
				ul.fl-left
					li
						a(href="#") Repair
					li
						a(href="#") Replace
					li
						a(href="#") Shop
					li
						a(href="#") About
					li
						a(href="#") Blog
					li
						a(href="#") Contact
					li
						a(href="#") Locations
	.row.center
		.center
			.three.columns
				h1.footerHeader Site Links
				ul
					li
						a(href="#") Repair
					li
						a(href="#") Replace
					li
						a(href="#") Shop
					li
						a(href="#") About
					li
						a(href="#") Blog
					li
						a(href="#") Contact
					li
						a(href="#") Locations


			.three.columns
				h1.footerHeader Quick Links
				ul
					li
						a(href="#") Link One
					li
						a(href="#") Link One
					li
						a(href="#") Link One
					li
						a(href="#") Link One
					li
						a(href="#") Link One

			.three.columns
				h1.footerHeader Repairs
				ul
					li
						a(href="#") Link One
					li
						a(href="#") Link One
					li
						a(href="#") Link One
					li
						a(href="#") Link One
					li
						a(href="#") Link One

			.three.columns
				h1.footerHeader Company
				ul
					li
						a(href="#") Link One
					li
						a(href="#") Link One
					li
						a(href="#") Link One
					li
						a(href="#") Link One
					li
						a(href="#") Link One

	.row.center
		.twelve.columns.copyright
			p Copyright © 2015 Gadget Grave All Rights Reserved