.row.bg-blue.small-pad-20.index-loc-gg-box
	.center.slab
		.six.columns
			h2 Is your Cell Phone Broken?
			p We have all of the most common repair parts in stock and it usually only take a couple of hours to finish the repair. This makes it easier to avoid a lot of those “2-4 business days” situations just to fix the broken glass on your mobile phone.
		.three.columns
				ul
					li.li-title.location-header
						a(href="#") Fayetteville
					li 240 E. Joyce Blvd. Suite 1 
					li Fayetteville, Ar. 72703 
					li
						a(href="#", tel="#1 (479) 431-6091")
		.three.columns
				ul
					li.li-title.location-header
						a(href="#") Fort Smith
					li 4900 Rogers AVE. STE. 103i
					li Fort Smith, Ar. 72903 
					li
						a(href="#", tel="#1 (479) 431-6091")