.row.bg-blue.index-loc-gg-box
	.center
		.six.columns
			h2 Our Locations
			p ivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus.
		.three.columns
			p.location-header Fort Smith
			p 4900 Rogers AVE. STE. 103i <br /> Fort Smith, AR 72703 <br /> (479) 431-6091
		.three.columns
			p.location-header FAyetteville
			p 240 E. Joyce Blvd STE. 1 <br /> Fayetteville, AR 72703 <br /> (479) 431-6091