-
	var navHeaderLinks = [ 
	  	{
	    	name: 'Repair',
	    	link: '/_clients/gadget-grave/dev-v1.0/_site/repair.html'
	  	},
	  	{ 
	  		name: 'Replace', 
	  		link: '/_clients/gadget-grave/dev-v1.0/_site/replace.html' 
	  	},
	  	{ 
	  		name: 'Sell', 
	  		link: '#' 
	  	},
	  	{ 
	  		name: 'Shop', 
	  		link: '/_clients/gadget-grave/dev-v1.0/_site/shop.html' 
	  	},
	  	{ 
	  		name: 'About', 
	  		link: '/_clients/gadget-grave/dev-v1.0/_site/about.html' 
	  	},
	  	{ 
	  		name: 'Blog', 
	  		link: '#' 
	  	},
	  	{ 
	  		name: 'Contact', 
	  		link: '/_clients/gadget-grave/dev-v1.0/_site/contact.html' 
	  	},
	  	{ 
	  		name: 'Locations', 
	  		link: '/_clients/gadget-grave/dev-v1.0/_site/locations.html' 
	  	}
	];






mixin navHeader
	nav.g-nav
		ul
			-each post in navHeaderLinks
				li
					a(href="#{post.link}") #{post.name}






