.row.bg-grey.row-featured
	.center

		.row
			h2 We Also Recommend

		.row.m-row-2
			.three.columns.m-half.item-1.kill-left
				a.product-item(href="#")
					.product-image
					.product-txt
						h3 HTC Clear Tempered Glass - SET OF 5
						.product-price
							span.product-price-sign $
							span.product-price-big 20
							span.product-price-small.txt-under-line 00

			.three.columns.m-half
				a.product-item(href="#")
					.product-image
					.product-txt
						h3 HTC Clear Tempered Glass - SET OF 5
						.product-price
							span.product-price-sign $
							span.product-price-big 20
							span.product-price-small.txt-under-line 00


			.three.columns.m-half.item-1
				a.product-item(href="#")
					.product-image
					.product-txt
						h3 HTC Clear Tempered Glass - SET OF 5
						.product-price
							span.product-price-sign $
							span.product-price-big 20
							span.product-price-small.txt-under-line 00


			.three.columns.m-half
				a.product-item(href="#")
					.product-image
					.product-txt
						h3 HTC Clear Tempered Glass - SET OF 5
						.product-price
							span.product-price-sign $
							span.product-price-big 20
							span.product-price-small.txt-under-line 00
