// ==========================================================================

// Base

// ==========================================================================
  
// make everything border-box
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// smooth the fonts
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $bodyBase;
	overflow-x: hidden;
	color: $gTxt;
}

// strip the a tags
a {
	text-decoration: none;
	color: inherit;
}

// stipr the ol/ul 
ol, ul {
	list-style: none;
	display: block;
}

// Base
// ======================================================================== !





// ==========================================================================

// Helpers

// ==========================================================================


//=== text

// hide text
.txt-hide {
	display: block;
	overflow: hidden;
	text-indent: -999999999%;
}


// center the text
.txt-center {
	text-align: center;
	margin: 0 auto;
	padding: 80px 0;
}


//=== text !




// =================| Box Model

// block defauly
.dis-b {
	display: block;
}

// float left
.fl-left {
	float: left;
}

// float right
.fl-right {
	float: right;
}

// float in the center
.fl-center {
	margin: 0 auto;
}

// =================| Box Model



//=== sudo

// sudo obj
.sudo {
  position: relative;
}

// sudo obj here
.sudo::before,
.sudo::after {
  content: "";
  display: block;
  position: absolute;
}

// after line
.after-line::after {
    height: 1px;
    background: #FFF;
    bottom: 35px;
    width: 100%;
    opacity: 0.05;
}

// testing sudos
.sudo-border {
  @extend .sudo;
}

// testing sudos
.sudo-border::after {
  height: 1px;
  bottom: 0px;
  left: 50%;
}
//=== sudo !

// Helpers
// ======================================================================== !







// ==========================================================================

// Objects

// ==========================================================================


//=== Wraps

// gen wrapper element
.wrap {
	float: left;
	display: block;
	overflow: hidden !important;
	width: 100%;
}

// center wrap
.wrap-center {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	overflow: hidden;
}

//=== Wraps !






//=== sizing

// pad 20px
.small-pad-20 {
	padding: 20px;
}

// max width 0f 500px
.max-600 {
	max-width: 600px;
}

// kill the padding on the row. This is used for the grid layouts and 
// other layouts that already have indentation
.row-kill-pad {
	padding: 0;
}



//=== sizing !




//=== Element BGs

// white
.bg-white {
	background-color: $wht;
}

// white on the btn
.bg-white .btn {
	@include styleBtn(#fff, none, $gBlue);
}

//--- Sections | White !




//--- Sections | Green

// green
.bg-green {
	background-color: $gGreen !important; // overide button style as well
}

// btns in the green bgs sections
.bg-green .btn {
	@include styleBtn(#fff, none, $gBlue);
}

//--- Sections | Green !



//--- Sections | Purple

// purple
.bg-purp {
	background-color: $gPurp;
}

// btns in the purp bgs sections
.bg-purp .btn {
	@include styleBtn(#fff, none, $gBlue);
}

//--- Sections | Purple !




//--- Sections | Black

// black
.bg-black {
	background-color: $gBlack;
}


// btns in the purp bgs sections
.bg-black .btn {
	@include styleBtn(#fff, none, $gBlue);
}

//--- Sections | Black !


//--- Sections | Red

// red
.bg-red {
	background-color: $gRed;
}

// btns in the purp bgs sections
.bg-black .btn {
	@include styleBtn(#fff, none, $gBlue);
}

//--- Sections | Red !


//--- Sections | Blue
.bg-blue {
	background-color: $gBlue;
	background-image: -moz-linear-gradient( 124deg, rgb(36,175,219) 0%, rgb(26,156,205) 100%);
	background-image: -webkit-linear-gradient( 124deg, rgb(36,175,219) 0%, rgb(26,156,205) 100%);
	background-image: -ms-linear-gradient( 124deg, rgb(36,175,219) 0%, rgb(26,156,205) 100%);
}

// button on blue bg
.bg-blue.btn {
	@include styleBtn(#fff, none, $gBlue);
}
//--- Sections | Blue !


.bg-blue .g-nav a:hover {
	color: red;
}


.bg-body {
	background: $colorBody;
}



//=== Element BGs !




//=== Element BG Text Overides 

// these are the overides for all the text on a dark bg

// direct children of blue
.bg-blue > *,

// direct children of black
.bg-black > *,

// direct children of purp
.bg-purp > *,

// direct children of green
.bg-green > *, 
.bg-green .txt-wrap > *,

// direct children of green
.bg-red > * {
	// importand to overide everything
	color: #fff !important;	
}

// these are the overides for all the text on a light bg
.bg-white * {
	color: $gTxt;	
}

//=== Element BG Text Overides  !



//=== Sprites

// svg sprite
.sprite {
	background: transparent url('img/svg-sprite.svg') no-repeat 0px 0px;
	background-size: 194px 67px;
}

//=== Sprites !


ul.social {
	position: absolute;
    width: 250px;
    display: block;
    z-index: 5;

    li {
    	float: left;
    }
}

.g-footer ul.social {
	right: 0px;
	top: 10px;
}

//=== Icons

// gen icon
.icon {
	position: relative;
	display: block;
	overflow: hidden;
	text-indent: -999999px;
	width: 50px;
	height: 50px;
}

// the actual icon itself
.icon::before {
	content: "";
	@extend .sprite;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20px;
	height: 20px;
	margin: -10px 0px 0px -10px;
}

.icon:hover {
	cursor: pointer;
}

// mag
.icon-mag::before {
	background-position: -53px -9px;
}

// cart
.icon-cart::before {
	background-position: -72px -9px;
}

// phone
.icon-phone::before {
	background-position: -143px -9px;
}



// facebook
.icon.facebook::before  {
	background-position: -48px -27px;
}

// twitter
.icon.facebook:hover:before {
	background-position: -47px -45px;
}  


// facebook
.icon.twitter::before  {
	background-position: -80px -27px;
}

// twitter
.icon.twitter:hover:before {
	background-position: -80px -45px;
}  



// facebook
.icon.instagram::before  {
	background-position: -112px -27px;
}

// twitter
.icon.instagram:hover:before {
	background-position: -112px -45px;
} 



// facebook
.icon.youtube::before  {
	background-position: -144px -27px;
}

// twitter
.icon.youtube:hover:before {
	background-position: -144px -45px;
} 



// facebook
.icon.google-place::before  {
	background-position: -175px -27px;
}

// twitter
.icon.google-place:hover:before {
	background-position: -175px -45px;
}  




//=== Icons !





//=== Cards


// this is the shared style for the card 
.card {
	@extend .bg-white; // default bg color of white
	@extent .shadow; // give the shadow to the bottom of the card
	padding: 50px 35px 40px;
	margin-bottom: 20px;
}

//=== Cards !








.half {
	width: 50%;
	float: left;
}



// ==== Obj !




// ==========================================================================

// Global Elements

// ==========================================================================
  

// global logo obj
.g-logo {
	width: 48px;
	height: 100px;
}




// ==== Header



// global header el
.g-header {
	position: relative;
	height: 88px;

	.g-logo {
		position: absolute;
		top: 10px;
		left: 50%;
		margin-left: -24px;
	}
}


.g-phone {
	width: 50px;
	height: 50px;
}



.g-header-wrap-right {
	position: absolute;
    top: 18px;
    right: 16px;
    width: 100px;


	.icon {
		float: left;
		display: block;
	}

}

// ==== Header !






// ==== Heros

.hero {
	// background-color: $gBlue;
	padding: 50px 15px;
}


// ==== Heros !

.hero-home {
	padding: 30px 20px;
}

.hero-home ul {
	display: block;
	width: 100%;
	overflow: hidden;
	float: left;
	max-width: 300px;

	li {
		@include font-lh(13);
	}
}

.hero-home ul div {
	width: 50%;
	float: left;
	margin-bottom: 20px;
}


.hero-home ul div {
	width: 50%;
	float: left;
}




// ==== Heros

.hero-pop-over {
	margin-top: -40px;
	padding: 30px 30px;
	overflow: hidden;
}

.shadow {
	@include border-radius(4px);
	box-shadow: 0px 1px 0px 0px rgba(237, 237, 243, 0.6);
}


// ==== Heros !




.non-mobile {
	display: none !important;
}






// ==========================================================================

// Buttons

// ==========================================================================
/* General button style (reset) */
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 10px 30px;
	display: inline-block;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	@include font-size (14);
	@include border-radius(50px);
	background-color: $gBlue;
	color: #fff;
	position: relative;
	z-index: 5;
}

// outline btn
.btn-outline {
	border: 2px solid rgba(255, 255, 255, 0.3);
	overflow: hidden;
	background-color: transparent;
}

.btn-wrap {
	display: block;
	width: 100%;
	float: left;
}

.slab-img {
	width: 100%;
	height: 200px;
	background-color: rgba(255, 255, 255, 0.1);
}


// ==========================================================================

// Buttons

// ==========================================================================

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 2rem;

  small,
  .small {
    font-weight: normal;
    line-height: 1;
  }
}


h1 {
	@include font-size(28);
	@include font-lh(30);
}

h2 {
	@include font-size(22);
}

h3 {
	@include font-size(20);
}


p {
	@include font-size(12);
	font-family: 'open_sansregular';
}


ul ,
ul li,
ul a {
	@include font-size(12);
	font-family: 'open_sansregular';
}


ul.small ,
ul.small li,
ul.small a {
	@include font-size(13);
	font-family: 'open_sansregular';
}





.brands-we-support ul {
	width: 33.3333333%;
	float: left;
	text-align: center;
}




// ==========================================================================

// Type

// ==========================================================================



.small-txt-center {
	text-align: center;
}


.half-full-section {
	position: relative;
}

.half-full-section .bg-purp {
	position: relative;
	z-index: 1;
}


.half-full-section .bg-purp.bg-half {
	position: absolute;
	height: 100%;
	width: 50%;
	top: 0px;
	right: 0px;
	z-index: 0;
}

.wrap-featured-products .wrap {
	padding: 0 0 20px;
}

.wrap-featured-products .three {
	@extend .shadow;
	background-color: #fff;
}











.product-item {
	display: block;
	width: 100%;
	overflow: hidden;
	@extend .shadow;
	background-color: #fff;
	margin: 40px 0;
}


.product-image {
	width: 100%;
	background-color: red;
	height: 150px;
}


.product-txt {
	padding: 20px;
	text-align: center;
	color: $gTxt;
}


.product-txt  h3 {
	@include font-size(15);
	@include font-lh(24);
}

.product-txt  h3 {
	display: block;
	width: 100%;
}

.product-price {
	@include font-size(26);	
	font-weight: 600;
	color: #1c8fca;
	padding: 0 3px;
	width: 62px;
	height: 30px;
	position: relative;
	margin: 0 auto;
	overflow: visible;
}

.product-price .product-price-sign,
.product-price .product-price-big,
.product-price .product-price-small {
	position: absolute;
	display: block;
	top: 0;
}

.product-price .product-price-big {
	@include font-size(36);	
	width: 100%;
	left: 0;
	top: -14px;
}

.product-price .product-price-small {
	@include font-size(12);	
	right: -6px;
	top: 2px;
}

.product-price .product-price-sign {
	@include font-size(15);	
	right: 15px;
	left: -38px;
}

.txt-under-line {
	text-decoration: underline;
}


.full {
	float: left;
	width: 100%;
	display: block;
}


// ==========================================================================

// Slabs

// ==========================================================================



.slab {
	overflow: hidden;
	position: relative;
}

.slab-layout-left,
.slab-layout-right {
	float: left;
	width: 100%;
}




/* 
    font-family: 'open_sanslight';
    font-family: 'open_sansregular';
    font-family: 'open_sanssemibold';
*/


// ==========================================================================

// Footer

// ==========================================================================



.g-footer {
	background: $gBlack;
	padding-top: 30px;

	ul.fl-left li {
    	float: left;
    	display: inline-block;
    	padding: 20px;
    	@include font-size(15);
    	color: white;

	    a {
	    	color: white;
	    	@include font-size(15);
	    }

	}
		
	h1 {
		color: white;
		@include font-size(18);
	}
		a {
			color: $footerText;
			@include font-size(12);
			text-decoration: none;
		}
		a:hover {
			color: white;
		}
		.copyright {
			text-align: center;
			color: #2b3134;
			@include font-size(10);
		}

}


.g-footer-top-nav {
	display: none;
}


.display-product {
	border-radius: 4px;
}


.display-product .wrap-display-img {
	background-color: red;
	height: 100%;
	min-height: 300px;
}



.display-product .wrap-display-txt {
	background-color: green;
}

.display-product .wrap-display-form {
	background-color: blue;
	min-width: 100%;
	min-height: 50px;
}




.pos-rel {
	position: relative;
}

$img-path: 'img/';


.gg-cell-box {
	position: relative;
}

.gg-cell-box::after {
	width: 795px;
    height: 610px;
    position: absolute;
    right: -499px;
    top: -167px;
	background: transparent url($img-path + 'gadget-grave-replace-phone-box.png') no-repeat 0px 0px;
	background-size: 500px 500px;
	z-index: 0;
}

.index-slab-gg-box {
	height: 430px;
	text-align: center;
	padding: 60px 50px;
}



.row-featured {
	padding: 40px 20px;
}

.m-half {
	width: 48%;
	margin-left: 4%;
}


.m-half.item-1 {
	margin-left: 0; 
}


/* Larger than phablet */
@media (min-width: 550px) {

	.m-half.item-1 {
		margin-left: 4%; 
	}

	.m-half.item-1.kill-left {
		margin-left: 0;
	}


}


/* Larger than phablet */
@media (min-width: 700px) {

	.slab-layout-left,
	.slab-layout-right {
		width: 50%;
	}

	.slab-layout-right {
		height: 100%;
	}

	.index-slab-gg-box {
		text-align: left;
		height: 390px;
	    padding: 100px 50px 60px;
	}

	.gg-cell-box::after {
	    width: 795px;
	    height: 610px;
	    position: absolute;
	    right: -389px;
	    top: -147px;
	    background: transparent url("img/gadget-grave-replace-phone-box.png") no-repeat 0px 0px;
	    background-size: 650px 650px;
	    z-index: 0;
	}

}


@media (min-width: 900px) {

	.g-footer-top-nav {
		display: block;
	}

	.g-footer ul.fl-left li:first-child {
		padding-left: 0;
	}
}




